<div class="container" style="display: block; opacity: 1;">
      
<div class="app-icon-background">
  <div class="app app-in" style="background-image:url(<%=asset_path 'AppIcon@2x.png'%>);">
  </div>
</div>

<div class="name-text">#life</div>
<div class="name-subtext">Explore your community.<br>A hashtag away.</div>

<ul class="download-buttons id-download-buttons">

  <li class="download-android"> <a class="download-link" href="https://play.google.com/store/apps/details?id=com.hashtaglife.hashtaglife"></a></li>
  <li class="download-ios"><a class="download-link" href="https://itunes.apple.com/us/app/life-hashtag-your-life/id904884186?mt=8"></a></li>

</ul>


<div class="hidden">
  <img src="../images/new-images/download-button-ios-669dea8be5.png">
  <img src="../images/new-images/download-button-ios@2x-e024366ac8.png">
  <img src="../images/new-images/download-button-android-7b08f0a6ef.png">
  <img src="../images/new-images/download-button-android@2x-f854e36913.png">
</div>

</div>