<div class="container" style="display: block; opacity: 1;">
      
<div class="fox-icon-background">
  <div class="fox fox-in-hole" style="<%=  background-image: image-url('Icon@2x.png') %>">
    <div class="eye" style="display: block;"></div>
  </div>
</div>

<div class="name-text">#life</div>
<div class="name-subtext">Explore your community.<br>A hashtag away.</div>

<ul class="download-buttons id-download-buttons">

  <li class="download-android"> <a class="download-link" href="https://play.google.com/store/apps/details?id=ly.secret.android&amp;hl=en"></a></li>
  <li class="download-ios"><a class="download-link" href="https://itunes.apple.com/us/app/secret-speak-freely/id775307543?mt=8"></a></li>

</ul>


<div class="hidden">
  <img src="../images/new-images/download-button-ios-669dea8be5.png">
  <img src="../images/new-images/download-button-ios@2x-e024366ac8.png">
  <img src="../images/new-images/download-button-android-7b08f0a6ef.png">
  <img src="../images/new-images/download-button-android@2x-f854e36913.png">
</div>

</div>