<div class="container" style="display: block;">
      
<div class="page">
  <h1>Community Guidelines</h1>

  <p>We believe that everyone deserves a chance to be heard. We created Secret to be a safe place to say what’s on your mind and learn about the people around you. These guidelines can help you get the most from what Secret has to offer.</p>

  <ul>
    <li><strong>Be open, be honest, and be yourself.</strong> Tell your stories, speak your mind, be creative, be responsible, and let’s make Secret a great community together.</li><br>
    <li><strong>Respect people’s privacy.</strong> People are on Secret to share openly. In that spirit, do not publicly share personal information about private people, like names, usernames, email addresses, addresses, phone numbers, and bank account information.</li><br>
    <li><strong>Stay safe.</strong> Our priority is for everyone to feel comfortable enough to express themselves. Don’t bully, harass, threaten, demean, encourage self-harm, or promote any type of criminal activity. If you see this type of content, please report it to us.</li><br>
    <li><strong>Be kind and respectful, even if you don’t agree.</strong> Remember, you’re among friends. Treat them how you would want to be treated. As part of speaking freely, the Secret community discusses and challenges beliefs, practices, and organizations. We will not allow attacks on anyone based on their race, ethnicity, national origin, religion, sex, gender, sexual orientation, disability or medical condition.</li><br>
    <li><strong>Keep it clean.</strong> We love seeing users express themselves through imagery, but we don’t want those images to distract from the spirit of Secret. As a result, we don’t allow images that are graphic, obscene, or pornographic. This includes images that depict gratuitous violence, include bodily fluids, excretions, nudity, or are sexually explicit.</li><br>
    <li><strong>Make sure you own what you post.</strong> You need to have the rights to use the content you post on Secret. Respect copyright, trademark, rights of publicity and privacy and other legal rights.</li><br>
    <li><strong>Be a real human and be nice to the internet.</strong> Secret is here for you to share with your friends and with those around you, not for spam, compromising online accounts, illegal content, or content intended for commercial purposes like driving traffic to other sites. Like we said before, just be yourself!</li><br>
    <li><strong>Report bad behavior.</strong> If you see something that violates our guidelines, tell us. Reporting is the fastest and easiest way to let us know, and we review all reported content. If necessary, we’ll ban users who don’t follow our guidelines, and we reserve the right to escalate to law enforcement if we perceive a real risk of harm to people or property.</li><br>
 <li><strong>Chat!</strong> Be sure to be open and respectful when chatting, and expect others to be open with you. Some people may chat about things you don’t agree with, and it’s up to you to react responsibly. Make the most of the private, personal conversations you can have within Secret chat.</li><br>
 <li><strong>Be social for the right reasons.</strong> We know you may want to talk about all kinds of sensitive things. That’s what we’re here for, but keep in mind that Secret is about sharing and discovering thoughts and not about soliciting random hookups. There are plenty of other apps for that, if you need them.</li><br>
    <li><strong>Have fun.</strong> At the end of the day, everyone just wants to have a good time. Keep an open mind and make the most of Secret.</li>
  </ul>

  <p>If you want to read more about policy, read about <a href="/tos">Our Terms</a> and <a href="/privacy">Your Privacy</a>.
  </p><p>&nbsp;</p>
</div>

    </div>