<div class="container" style="display: block;">
      
<div class="page">
  <h1>Community Guidelines</h1>

  <p>We created a safe place to share photos of you and your friends with the people around you. These guidelines can help you get the most from what #life has to offer.</p>

  <ul>
    <li><strong>Be nice and friendly.</strong> #life is here for you to share with your friends and with those around you, not for bullying or sharing inappropriate photos.</li><br>
    <li><strong>Respect people’s privacy.</strong> People post photos on #life to share openly. In that spirit, do not post a users photo without their consent or publicly share personal information about private people, like names, phone numbers, or bank account information.
</li><br>
    <li><strong>Stay safe.</strong> Our priority is for everyone to feel comfortable enough to express themselves. Don’t bully, harass, threaten, demean, encourage self-harm, or promote any type of criminal activity. If you see this type of content, please report it to us.</li><br>
    <li><strong>Be kind and respectful, even if you don’t agree.</strong> Remember, you’re among friends. Treat them how you would want to be treated. As part of sharing freely, the #life community discusses and challenges beliefs, practices, and organizations. We will not allow attacks on anyone based on their race, ethnicity, national origin, religion, sex, gender, sexual orientation, disability or medical condition.</li><br>
    <li><strong>Keep it clean.</strong> We love seeing users express themselves through imagery, but we don’t want those images to distract from the spirit of #life. As a result, we don’t allow images that are graphic, obscene, or pornographic. This includes images that depict gratuitous violence, include bodily fluids, excretions, nudity, or are sexually explicit.</li><br>
 <li><strong>Make sure you own what you post.</strong> You need to have the rights to use the content you post on #life. Respect copyright, trademark, rights of publicity and privacy and other legal rights.</li><br>
 <li><strong>Report bad behavior.</strong> If you see something that violates our guidelines, tell us. Reporting is the fastest and easiest way to let us know, and we review all reported content. If necessary, we’ll ban users who don’t follow our guidelines, and we reserve the right to escalate to law enforcement if we perceive a real risk of harm to people or property.</li><br>
    <li><strong>Have fun.</strong> At the end of the day, everyone just wants to have a good time. Keep an open mind and make the most of #life.</li>
  </ul>
<br>
  <p>If you want to read more about policy, read about <a href="/terms">Our Terms</a> and <a href="/privacy">Your Privacy</a>.
  </p><p>&nbsp;</p>
</div>

    </div>

<script>

    
</script>