<div class="container" style="display: block;">
      
<div class="page">
  <h1>Community Guidelines</h1>

  <p>We created a safe place to share photos of you and your friends with the people around you. These guidelines can help you get the most from what #life has to offer.</p>
  <ul>
    <li><strong>We don’t allow posts that include:</strong></li><br>
      <li>Spam</li>
      <li>Bullying</li>
      <li>Pornography</li>
      <li>Threats</li>
      <li>Hate Speech</li>
      <li>Encouragement of Self-Harm</li>
      <li>Copyrighted Images</li>
      <li>Private Information</li>
      <li>Graphic Content</li>
  </ul>
<p><strong>Report bad behavior.</strong> If you see something that violates our guidelines, tell us. Reporting is the fastest and easiest way to let us know, and we review all reported content. If necessary, we’ll ban users who don’t follow our guidelines, and we reserve the right to escalate to law enforcement if we perceive a real risk of harm to people or property.</p>    
<P><strong>Have fun.</strong> At the end of the day, everyone just wants to have a good time. Keep an open mind and make the most of #life.</P>    
  <p>If you want to read more about policy, read about <a href="/terms">Our Terms</a> and <a href="/privacy">Your Privacy</a>.
  </p><p>&nbsp;</p>
</div>

    </div>