<div class="container" style="display: block;">
      
<div class="page">

<h1>Law Enforcement Guidelines - HashtagLife Incorporated</h1>  

<p><em>Last Revised: January 23, 2015</em></p> 
    
<p>These guidelines are for law enforcement officials seeking information about HashtagLife user accounts. When HashtagLife receives a request for user account information from a government agency investigating criminal activity, the HashtagLife team reviews each request to be sure that it satisfies all legal requirements. HashtagLife is committed to cooperating with law enforcement while respecting each individual’s right to privacy.</p>    
    
<h2>What is HashtagLife?</h2>
<p>HashtagLife is an anonymous photo sharing app that allows users to create and view images within a specific location. HashtagLife is available as a free mobile app for both iOS and Android.</p>    

<h2>What Account Information Does HashtagLife Have?</h2>
<p>Images posted on HashtagLife are public, so anyone can see them. HashtagLife is an anonymous service – users only create a username and select a location – and HashtagLife does not ask its users to provide their real names, mailing addresses, phone numbers, email addresses, or any other identifying information. HashtagLife does maintain a log, however, of the following information for each message posted:</p> 
    <ul>
        <li>The username of the user who posted the image;</li>
        <li>The (school’s) location associated with the image;</li>
        <li>The time and date when the image was posted;</li>
        <li>May include the user’s last known IP address.</li>
    </ul>  
    
<h2>Data Retention and Preservation Requests</h2>
<p>HashtagLife retains different types of information for different time periods. Due to the real-time nature of HashtagLife, some information may be stored for only a very brief period of time. HashtagLife will not retain data for law enforcement unless it receives a valid preservation request. Preservation requests must be submitted in writing, on official law enforcement letterhead, and signed by the requesting official. Please include screenshots of the image that you wish to be preserved, if available. Requests may be sent as an email attachment (our contact information is below).</p>   
    
<h2>Legal Process Requirements</h2>
<p>HashtagLife discloses user account information only in accordance with applicable law, including the federal Stored Communications Act (“SCA”), 18 U.S.C. § 2701 et seq. HashtagLife will only release non-public information about its users to law enforcement officials, and only in response to appropriate legal process, such as a subpoena, court order, or search warrant – or in response to a valid emergency request, as described below. Under the SCA:</p>
        <ul>
        <li>A valid administrative, grand jury, or trial subpoena in connection with an official criminal investigation or prosecution is required to compel HashtagLife to disclose certain specific types of “basic subscriber information” (defined in 18 U.S.C. § 2703(c)(2)). However, because HashtagLife is an anonymous service, records of “basic subscriber information,” if any, are likely to be very limited.</li>
        <li>A court order issued under 18 U.S.C. § 2703(d) is required to compel HashtagLife to disclose certain non-content records associated with a user’s account. </li>
        <li>A search warrant is required to compel HashtagLife to disclose the contents of any photo associated with a user’s account. In addition, HashtagLife requires a search warrant for a user’s location information based on the Fourth Amendment to the U.S. Constitution.</li>
    </ul>       
    
<h2>Emergency Requests</h2>
<p>Under 18 U.S.C. §§ 2702(b)(8) and 2702(c)(4), HashtagLife may disclose user account information to law enforcement – without a subpoena, court order, or search warrant – in response to a valid emergency when we believe that doing so is necessary to prevent death or serious physical harm to someone (for instance, in cases involving kidnapping, bomb threats, school shootings, or suicide threats). HashtagLife evaluates emergency requests on a case-by-case basis. Any information HashtagLife provides in response to emergency requests is limited to what we believe would prevent the harm. This may include a user’s IP address, location, image timestamps, and/or the contents of other images from the user’s posting history. Law enforcement officers can submit an emergency request as an email attachment (our contact information is below). Emergency requests must be submitted on law enforcement letterhead, and must include the following:</p>
    <ul>
        <li>a detailed description of the emergency;</li>
        <li>a description of the harm to be prevented;</li>
        <li>a detailed description of the HashtagLife post that you are seeking information about, including screenshots, if available;</li>
        <li>the specific information requested, including an explanation of why that information is necessary to prevent the harm;</li>
        <li>an explanation of why the information is needed without waiting for legal process;</li>  
        <li>and the signature of the submitting law enforcement officer.</li>    
    </ul>    
    
<p>Please note that HashtagLife cannot review or respond to emergency requests sent by non-law enforcement officials. If you are aware of an emergency situation, you should immediately contact your local law enforcement officials.</p>
     
    
<h2>Will HashtagLife Notify Users About Law Enforcement Requests?</h2>
<p>HashtagLife does not have email addresses or other contact information for its users. Therefore, HashtagLife is unable to notify the user when it receives a request from law enforcement seeking account information.</p>      

<h2>Contact Information</h2>
<p>Law enforcement officials may submit requests by mail or email to:
HashtagLife Incorporated.
Street Adress
Tampa, FL 00000
Email: support@hashtaglifeapp.com
Receipt of correspondence by any of these means is for convenience only and does not waive any objections, including the lack of jurisdiction or proper service. HashtagLife will not respond to requests for user information sent by non-law enforcement officials.</p>   
    
    
    </div>
</div>