<div class="container" style="display: block;">
      
<div class="page">
  <h1>Contact Us</h1>
  
  <p>Have an idea, suggestion, issue, or something else you want to talk about? Email us and we promise to get back to you as soon as we can..</p>
    
    
    <p><strong>Press</strong></p> 
    <p>For press inquiries, please contact press, <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
    <p><strong>Support & Feedback</strong></p>
    <p>For all things technical and app related, 
  <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
    <p><strong>Abuse</strong></p> 
    <p>To report bad behavior, 
  <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
    <p><strong>Copyright Infringement</strong></p>
    <p>To report copyright infringement, 
  <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
    

</div>
</div>