<div class="container" style="display: block;">
      
<div class="page">
  <h1>Contact Us</h1>
  
  <p>Have an idea, suggestion, issue, or something else you want to talk about? Email us and we promise to get back to you as soon as we can..</p>
    
    
  <h2>Press</h2>  
    <p>For press inquiries, please contact press, <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
  <h2>Support & Feedback</h2> 
    <p>For all things technical and app related, 
  <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
  <h2>Abuse</h2>  
    <p>To report bad behavior, 
  <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
  <h2>Copyright Infringement</h2>
    <p>To report copyright infringement, 
  <a href="mailto:support@hashtaglifeapp.com">support@hashtaglifeapp.com</a></p>
    

</div>
</div>