<div class="container" style="display: block;">
      
<div class="page">

<h1>Terms of Service - HashtagLife Incorporated </h1>  

<p><em>Last Revised: January 23, 2015</em></p> 
    
<p>Welcome, and thank you for your interest in HashtagLife (“HashtagLife”, “company”, “we”, “us” or “our”) and our mobile applications, website located at <a href="http://www.hashtaglifeapp.com/">hashtaglifeapp.com</a> (the “Site”), and other services provided by us (collectively, together with the Site and our mobile applications, our “Services”), including any materials uploaded or otherwise available on the Services (collectively, the “Content”). These Terms of Service are a legally binding contract between you and HashtagLife governing you access to and use of the Services.</p>    
    
<p>PLEASE READ THE FOLLOWING TERMS OF SERVICE CAREFULLY. BY USING THE SERVICES,” YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTOOD, AND AGREE TO BE BOUND BY THE FOLLOWING TERMS AND CONDITIONS, INCLUDING THE HASHTAGLIFE <a href="http://www.hashtaglifeapp.com/privacy">PRIVACY POLICY</a>(COLLECTIVELY, THESE “TERMS”). You must accept and comply with these terms as a condition to you access and use of the Services. If you are not eligible, or do not agree to these Terms, then please do not use the Services.</p>    
    
<p>These Terms of Service provide that all disputes between you and HashtagLife will be resolved by BINDING ARBITRATION. YOU AGREE TO GIVE UP YOUR RIGHT TO GO TO COURT to assert or defend your rights under this contract (except for matters that may be taken to small claims court). Your rights will be as determined by a NEUTRAL ARBITRATOR and NOT a judge or jury and your claims cannot be brought as a class action. Please review the arbitration agreement below for the details regarding your agreement to arbitrate any disputes with HashtagLife.</p>    
    
<h2>1. HashtagLife</h2><p>HashtagLife provides a service where users may upload and post images, hashtag images, upvote or downvote photos and interact with the Content.</p>
    
<h2>2. Eligibility</h2><p>You must be at least thirteen years of age to use the Services. By agreeing to these Terms, you represent and warrant to us that: (i) you are at least thirteen years of age; (ii) you have not previously been suspended or removed from the Services; (iii) no applicable law prohibits you from receiving the Services; (iv) you have the authority to form a binding contract with HashtagLife; and (v) your registration and your use of the Services is in compliance with any and all applicable laws and regulations.</p><p>
If you are using the Services on behalf of another legal entity, you represent and warrant that you have the authority to bind such entity to these Terms and you agree to be bound by these Terms on behalf of such entity.</p>

<h2>3. Discontinuation and Modifications of the Services</h2><p>HashtagLife may temporarily or permanently change or stop providing the Services or any part or parts of the Services to you, other users, or both. We reserve the right to modify or discontinue the Services at any time. We will have no liability whatsoever on account of any change to the Services or any suspension or termination of your access to or use of the Services.</p>

<h2>4. Privacy Policy and Additional Terms</h2><p>Please read the HashtagLife Privacy Policy carefully for information related to our collection, use, storage and disclosure of your personal information. The HashtagLife Privacy Policy is hereby incorporated by reference into, and made a part of, these Terms.</p><p>
Your use of the Services is subject to any and all additional terms, policies, rules, or guidelines applicable to the Services or certain features of the Services that we may post on or link to on the Services (the “Additional Terms”), such as end-user license agreements for any downloadable applications that we may offer or rules applicable to particular features, information, or Content on the Services, subject to Section 15. All such Additional Terms are hereby incorporated by reference into, and made a part of, these Terms.</p>

<h2>5. User Content</h2><p>HashtagLife provides a service where users may upload and post images, hashtag images, upvote or downvote photos and interact with the Content.</p>
    <ul>
    <li>a. Your Content Generally. Certain features of the Services may permit users to post Content, including photos, images, data, text, and other types of works and to publish such Content on the Services. You retain your copyright and any other proprietary rights you may have in any Content you submit, post, publish, or display on or through the Services.</li>
    <li>b. Limited Grant to HashtagLife. If you submit, post, publish or display Content on or through the Services, you grant a worldwide, non-exclusive, royalty-free, transferable, sublicensable right and license to HashtagLife to host, store, transfer, display, perform, reproduce, modify, publish, create derivative works of, and distribute such Content in any and all formats and channels we choose in our discretion at any time. Any such use of your User Content by HashtagLife may be without compensation paid to you.
</li>
    <li>c. Limited License Grant to Other Users. By posting and sharing your Content with another user of the Services, you hereby grant that user a non-exclusive license to access and use such Content as permitted by these Terms and the functionality of the Services.</li>
    <li>d. Representations and Warranties about Your Content. By posting and publishing your Content, you affirm, represent, and warrant that:
        <ul>
        <li>you are the creator and owner of, or have the necessary licenses, rights, consents, and permissions to use and authorize HashtagLife and users of the Services to use and distribute Content you submit, post, publish, or display on or through the Services as necessary to exercise the licenses granted by you in this Section 5 and in the manner contemplated by HashtagLife and these Terms; and</li>
            <li>Content you submit, post, publish, or display on or through the Services, and the use thereof as contemplated herein, does not and will not: (i) infringe, violate, or misappropriate any third-party right, including any copyright, trademark, patent, trade secret, moral right, privacy right, right of publicity, or any other intellectual property or proprietary right; or (ii) slander, defame, libel, or invade the right of privacy, publicity, or other property rights of any other person.</li>
        </ul>
        </li>
    <li>Content Disclaimer. You are solely responsible and liable for your use of Content. We are under no obligation to edit, monitor, or control Content that you or others submit, post, publish, or display on or through the Services, and we will not be in any way responsible or liable for such Content. We make no representations and disclaim any obligations with respect to the completeness, truthfulness, accuracy, or reliability of any Content. We do not endorse any Content, including, for instance, opinions you or other users upload to the Services. You may see or hear Content that you may find offensive, harmful, inaccurate, deceptive, or otherwise inappropriate through your use of the Services. HashtagLife will not be liable under any circumstances for any claims, losses or damages relating to any Content. For instance, HashtagLife will not be liable for any claims, losses, or damages arising from errors or omissions in Content or damage resulting from use of Content. If you use or rely on any Content, you do so at your own risk. HashtagLife may, however, at any time and without prior notice, screen, remove, edit, or block any Content that in our sole judgment violates these Terms or is otherwise objectionable. You agree to waive, and hereby do waive, any legal or equitable remedies you have or may have against HashtagLife with respect to Content. If notified by a user or content owner that Content allegedly does not conform to these Terms, we may investigate the allegation and determine in our sole discretion whether to remove the Content, which we reserve the right to do at any time and without notice. For clarity, HashtagLife does not permit copyright-infringing activities on the Services.</li>
    </ul>
    
<h2>6. License from HashtagLife</h2><p>Conditioned upon your acceptance of and compliance with these Terms, HashtagLife grants you a worldwide, royalty-free, non-assignable, non-exclusive license to access and use the Services.</p>
 
    <h2>7. HashtagLife Ownership and Proprietary Rights
</h2><p>The Services are owned and operated by HashtagLife. The visual interfaces, graphics, design, compilation, information, data, computer code (including source code or object code), products, software, services, and all other elements of the Services (the “Materials”) provided by HashtagLife are protected by all relevant intellectual property and proprietary rights and applicable laws. All Materials contained in the Services are the property of HashtagLife or our third-party licensors. Except as expressly authorized by HashtagLife, you may not make use of the Materials. HashtagLife reserves all rights to the Materials not granted expressly in these Terms. These Terms do not include a grant of trademark or other intellectual property rights and you may not use the HashtagLife name, trademarks, or any other brand features without express, written permission.</p>
    
    <h2>8. Feedback</h2><p>We welcome any feedback you may have about HashtagLife. You are under no obligation to provide feedback and you do so on a purely voluntary basis. If you submit any suggestions, comments, or other feedback, you acknowledge that such feedback is Content you submit, post, publish or display on or through the Services, subject to the license grant and disclaimers of Section 5. We may use your feedback as we wish without penalty or payment to you.</p>
        
    <h2>9. Restrictions on Content and Use of the Services</h2><p>By accessing or using the Services you agree not to:</p><ul>
        <li>reverse engineer or otherwise attempting to discover the source code of the Services or any part thereof except to the extent that such activity is expressly permitted by applicable law</li>
<li>interfere with security-related features of the Services, including without limitation by (i) breaching, disabling or circumventing security and authentication measures that prevent or limit use or copying of any Content, (ii) accessing, tampering with, or using non-public areas of the Services or HashtagLife’s computer systems or networks, or (iii) probing, scanning, or testing the vulnerability of any system or network;</li>
<li>perform any fraudulent activity including (i) impersonating any person or entity, (ii) forging any headers or any header information, (iii) claiming false affiliations, (iv) accessing the Services accounts of others without permission, (v) falsifying your age or date of birth, or (vi) sending any deceptive information;</li>
<li>interfere with, or disrupt, the operation of the Services or the enjoyment of any user by, without limitation, (i) uploading or otherwise disseminating a virus, adware, spyware, worms, or other malicious code (ii) sending excessive or unsolicited messages, email, or other communications to, on, or through the Services, (iii) interfering with or creating an undue burden on the Services or designing any Content to do the same, (iv) making unsolicited offers or advertisements to other users of the Services, (v) collecting personal information about users or third parties without their consent, (vi) interfering with or disrupting any networks, equipment, or servers connected to or used to provide the Services, or (vii) violating the regulations, policies, or procedures of such networks, equipment, or servers;</li>
<li>violate, or encourage others to violate, the rights of third parties, including by infringing or misappropriating third party intellectual property rights;</li>
<li>post, upload, or distribute any Content that is unlawful, defamatory, libelous, inaccurate, or that a reasonable person could deem to be objectionable, profane, indecent, pornographic, harassing, threatening, embarrassing, hateful, or otherwise inappropriate;</li>
<li>sell or otherwise transfer the access granted herein or any Materials (as defined in Section 7) or any right or ability to view, access, or use any Materials;</li>
<li>use the Services for any illegal purpose, or in violation of any local, state, national, or international law; or</li>
<li>attempt to do any of the foregoing in this Section 9, or assist or permit any persons in engaging in any of the activities described in this Section 9.</li>
        </ul>
    
    <h2>10. HashtagLife Disclosure</h2><p>We reserve the right to use and disclose any information which we believe, in our discretion, is necessary for any of the following purposes:</p><ul>
        <li>to comply with applicable law, regulation, legal process or government order;</li>
        <li>to enforce or investigate potential violations of these Terms;</li>
        <li>to protect HashtagLife and its users against fraud, technical or security concerns, or threats to property interests; or</li>
        <li>to communicate with you and other users.</li>
        </ul>
    
    
    
    </div>
</div>