/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
      @font-face {
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        font-style: normal;
      }

      @font-face {
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        font-style: normal;
      }

      * {
        -webkit-tap-highlight-color:transparent;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
        line-height: 24px;
      }

      body {
        background-color: #FFF;
        margin: 0px;
        padding: 0px;
      } 

      a, a:link, a:visited, 
      a:hover, a:focus, a:active {
        text-decoration: none;
        color: #FFF;
        background:transparent;
      }

      .selected-link {
        color: #BD1B20 !important;
      }

      h1 {
        font-size: 22px;
        padding-bottom: 21px;
      }

      h2 {
        font-size: 20px; 
        padding-bottom: 12px;
      }

      h3 {
        font-size: 18px;
        padding-bottom: 12px;
      }

      p {
       padding-bottom: 12px;
      }

      .container {
        margin-top: 100px;
        display: none;
      }

      .page {
        max-width: 720px;
        margin: auto auto;
        padding: 0px 50px;
        background-color: white;
        margin-bottom: 110px;
      }

      .img-link {
        width: 100%;
        height: 100%;
      }

      .footer-nav {
        position: fixed;
        padding: 0px;
        bottom: 0px;
        margin-right: auto;
        margin-left: auto;
        background-color: #f34846;
        line-height: 60px;
        height: 60px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: 100%;
        color: white;
        margin-bottom: 0px;
      }

      .links {
        text-align: center;
        padding: 0px;
      }

      .social-links {
        position: fixed;
        height: 60px;
        right: 0px;
        bottom: -20px;
        display: inline-block;
        padding: 0px;
        margin: 0px;
        margin-right: 10px;
        z-index: 5;
      }

      .links li {
        display: inline-block;
        list-style-type: none;
        margin-right: 30px;
        color: #fff;
      }

      .links li a {
        font-size: 18px;
      }

      .links li:last-child {
        margin-right: 0px;
      }

      .links-mobile {
        position: relative;
        display: block;
        line-height: 16px;
        background-color: transparent;
        padding-top: 20px;
      }

      .social-link {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline;
        float: right;
        margin-right: 25px;
      }

      .social-icon {
        background-size: 23px 20px;
        width: 23px;
        height: 20px;
        display: inline-block;
      }

      .medium-icon {
        background-image: url("../images/new-images/icon-medium-b56253a992.png");
      }

      .fb-icon {
        background-image: url("../images/new-images/icon-facebook-1b173c17c2.png");
      }

      .twitter-icon {
        background-image: url("../images/new-images/icon-twitter-a1cb2aa308.png");
      }

      @media screen and (max-width:780px) {
        .social-links {
          position: relative;
          display: block;
          text-align: center;
          margin: 0px;
          margin-top: 40px;
          height: 10px;
        }
        .social-link {
          float: none;
        }

        .social-link:last-child {
          margin-right: 0px;
        }
      }

      @media screen and (max-width:480px) {
        .footer-nav {
          position: relative;
          height: auto !important;
        }

        .social-links {
          background-color: #446CB3;
          height: 50px;
          margin-top: 0px;
        }

        .page {
          margin-bottom: 0px;
        }
        .container {
          margin-top: 30px;
          margin-top: 15px;
        }
        .links {
          margin-top: 50px;
          position: relative;
          display: block;
          line-height: 16px;
        }
        .links li {
          display: block;
          text-align: center;
          font-size: 16px;
          line-height: 50px;
          padding: 0px;
          margin: 0px;
        }
      }

body {
    background-color: #446CB3;
  }

  .container {
    opacity: 0;
  }

  .app-icon-background {
    width: 210px;
    height: 210px;
    border-radius: 50px;
    background-color: #FEC13E;
    margin: auto auto;
    overflow: hidden;
  }

  .app {
    text-align: center;
    width: 210px;
    height: 210px;
    margin: auto auto;
    position: relative;
    background-size: 210px 210px;
    top: 210px;
  }

  .app-in {
    transition-delay: 500ms;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.520, 0.295, 0.195, 1.000);
    transform: translate3d(0px,-174px,0px);
    -webkit-transition-delay: 500ms;
    -webkit-transition-duration: 700ms;
    -webkit-transition-timing-function: cubic-bezier(0.520, 0.295, 0.195, 1.000);
    -webkit-transform: translate3d(0px,-210px,0px);
  }

  .name-text {
    text-align: center;
    font-size: 60px;
    line-height: 60px;
    margin: 35px 0px;
    color: white;
  }

  .name-subtext {
    text-align: center;
    font-size: 24px;
    max-width: 300px;
    line-height: 32px;
    margin: auto auto;
    margin-bottom: 45px;
    padding: 0px 30px;
    color: white;
    letter-spacing: 0.1rem;
  }

  .get-secret {
    width: 200px;
    height: 50px;
    line-height: 50px;
    background-color: red;
    color: white;
    border-radius: 25px;
    text-align: center;
    margin: auto auto;
    font-family: 'effra-med';
    margin-bottom: 30px;
    cursor: pointer;
  }

  .download-link {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  }

  .download-buttons {
    display: block;
    margin: auto auto;
    text-align: center;
    margin: 0px;
    padding: 0px;
  }

  .download-buttons li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    margin-left: 10px;
  }

  .download-ios {
    width: 202px;
    height: 60px;
    background-image: url("https://peaceful-hamlet-2107.herokuapp.com/assets/apple-f641be88459e1f20a88ef5b338c47988.png");
    background-size: 202px 60px !important;
  }

  .download-android {
    width: 172px;
    height: 60px;
    background-image: url("https://peaceful-hamlet-2107.herokuapp.com/assets/google-f9672e46a7b797b48aaa99393259165c.png");
    background-size: 172px 60px !important;
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width:480px) {
    .secret-text {
      font-size: 39px;
    }
    .secret-subtext {
      font-size: 18px;
      line-height: 1.5em;
    }
    .download-buttons li {
      margin-right: 0px;
    }
    .links {
      position: relative;
      display: block;
      line-height: 16px;
      margin-top: 60px;
    }
    .links li {
      display: block;
      text-align: center;
      margin: 0px;
      margin-bottom: 35px;
      font-size: 16px;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .download-ios {
      background-image: url("https://peaceful-hamlet-2107.herokuapp.com/assets/apple-f641be88459e1f20a88ef5b338c47988.png");
    }

    .download-android {
      background-image: url("https://peaceful-hamlet-2107.herokuapp.com/assets/google-f9672e46a7b797b48aaa99393259165c.png");
    }
  }