<!DOCTYPE html>
<html>
<head>
    <title>#life</title>
    <meta name="Description" content="Explore your community. A hashtag away. Available on iOS and Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:url" content="https://www.hashtaglifeapp.com">
    <meta property="og:title" content="#life - Explore your community. A hashtag away.">
    <meta property="og:image" content="../images/fox-badge@2x-033bb8d3e9.png">
    <meta property="og:site_name" content="#life">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="#life - Explore your community. A hashtag away.">
    <meta name="twitter:creator" content="@hashtaglifeapp">
    <meta name="twitter:image" content="../images/fox-badge@2x-033bb8d3e9.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

    <div class="footer-nav links-mobile">
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/community">Community</a></li>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
      </ul>
      <ul class="social-links" style="display: none;">
        <li class="social-link">
          <a class="img-link" href="https://twitter.com/secretly" target="_blank"><div class="social-icon twitter-icon"></div></a>
        </li>
        <li class="social-link">
          <a class="img-link" href="https://www.facebook.com/secretly" target="_blank"><div class="social-icon fb-icon">
        </div></a></li>
        <li class="social-link">
          <a class="img-link" href="https://medium.com/secret-den" target="_blank"><div class="social-icon medium-icon"></div></a>
        </li>
      </ul>
      </div>
    
</body>
</html>
